[Desktop Entry]
Type=Application
Name=Model
GenericName=3D Model Viewer
Comment=View STL, OBJ, glTF and PLY models
Exec=cce-model %f
Icon=cce-model
Terminal=false
Categories=Graphics;3DGraphics;Viewer;
MimeType=model/stl;model/x.stl-ascii;model/x.stl-binary;application/sla;model/obj;model/gltf+json;model/gltf-binary;
NoDisplay=false
